<h1 class="ui header">Game Arch</h1>
<p>Please enter a keyword to search, for example 'batman'.</p>

<div class="ui action left icon input">
  <%= form_tag searches_path, remote: true do %>  
    <i class="search icon"></i>
    <%= text_field_tag :query, params[:query], placeholder: "Search..." %>
    <%= submit_tag :search, class: "ui grey button" %>
  <% end %>
</div>

<div id='results'></div>
